<div id="search-box" class="search-box">
    <div class="row">
      <div class="col l2 m6 s12 star-rating">
        <label>Size</label>
        <div id="starRating"></div>
        <div class="rate-container">
          <span class="minStarRating"></span>
        </div>
      </div>
      <div class="col l2 m6 s12">
        <label for="colorpicker">Color</label>
        <input type="text" id="colorpicker" value="#5367ce" />
      </div>
    </div>
</div>
