<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
<% content 'meta' %>

<!-- build:css css/app.css -->
<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/Materialize/bin/materialize.css" />
<link rel="stylesheet" href="/bower_components/Materialize/extras/noUiSlider/nouislider.css" />
<link rel="stylesheet" href="/bower_components/jquery-ui/themes/black-tie/jquery-ui.css" />
<link rel="stylesheet" href="/bower_components/frosty/dist/css/frosty.min.css" />
<link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
<link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css" />
<!-- endbower -->

<link rel="stylesheet" href="css/main.css">

<!-- endbuild -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- build:js js/modernizr.js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->

<% content 'header_scripts' %>
</head>

<body>

<div id="content-wrapper">

	<% include '_templates/_search/_hotels.ect' %>
	<% include '_templates/_footer.ect' %>
    <svg class="bg-logo"><use xlink:href="#svg-logo_2" /></svg>

	<div id="content" class="page">
	<% content 'main' %>
	</div><!-- /#content -->

	<div class="totop js-totop js-tooltip" title="To top"><svg class="sprite-svg"><use xlink:href="#svg-plane" /></svg></div>

</div><!-- /#content-wrapper -->


<% include '_templates/_script_variables.ect' %>

<% content 'script' %>

</body>
</html>