<% extend '_layout_sprite.ect' %>

<% block 'meta' : %>
<meta charset="UTF-8">
<title><%- @title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="<%- @description %>" />
<meta name="keywords" content="<%- @keywords %>" />
<% if @canonical : %>
<link rel="canonical" href="<%- @canonical %>">
<% end %>
<% if @alternate : %>
<link rel="alternate" href="<%- @alternate %>" >
<% end %>

<% if @ogTitle : %>
<meta property="og:title" content="<%- @ogTitle %>">
<% end %>
<% if @ogType : %>
<meta property="og:type" content="<%- @ogType %>">
<% end %>
<% if @ogDescription : %>
<meta property="og:description" content="<%- @ogDescription %>">
<% end %>
<% if @ogUrl : %>
<meta property="og:url" content="<%- @ogUrl %>">
<% end %>
<% if @ogImage : %>
<meta property="og:image" content="<%- @ogImage %>">
<% end %>
<% if @ogSiteName : %>
<meta property="og:site_name" content="<%- @ogSiteName %>">
<% end %>
<% if @ogEmail : %>
<meta property="og:email" content="<%- @ogEmail %>">
<% end %>

<% if @fbAppId : %>
<meta property="fb:app_id" content="<%- @fbAppId %>" />
<% end %>
<% if @twitterCard : %>
<meta name="twitter:card" value="<%- @twitterCard %>"/>
<% end %>
<% if @twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @twitterSiteId %>"/>
<% end %>

<% end %>

<% block 'main' : %>
<main class="gulp-template main">

<section class="gulp-template__section">
  <h2>Sprites</h2>
  <div><img src="img/sprite.png" alt=""></div>

  <h2>利用例</h2>
  <div class="sprite sprite-0"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-1"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-2"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-3"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-4"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-5"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-6"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-7"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-8"><img src="img/t.png" alt=""></div>
  <div class="sprite sprite-9"><img src="img/t.png" alt=""></div>
</section>

</main>
<% end %>

<% block 'script' : %>
<!-- build:js js/app.js -->
<script src="/js/app_list.js"></script>
<!-- endbuild -->
<% end %>