<% extend '_layout.ect' %>

<% block 'meta' : %>
<meta charset="UTF-8">
<title><%- @title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="<%- @description %>" />
<meta name="keywords" content="<%- @keywords %>" />
<% if @canonical : %>
<link rel="canonical" href="<%- @canonical %>">
<% end %>
<% if @alternate : %>
<link rel="alternate" href="<%- @alternate %>" >
<% end %>

<% if @ogTitle : %>
<meta property="og:title" content="<%- @ogTitle %>">
<% end %>
<% if @ogType : %>
<meta property="og:type" content="<%- @ogType %>">
<% end %>
<% if @ogDescription : %>
<meta property="og:description" content="<%- @ogDescription %>">
<% end %>
<% if @ogUrl : %>
<meta property="og:url" content="<%- @ogUrl %>">
<% end %>
<% if @ogImage : %>
<meta property="og:image" content="<%- @ogImage %>">
<% end %>
<% if @ogSiteName : %>
<meta property="og:site_name" content="<%- @ogSiteName %>">
<% end %>
<% if @ogEmail : %>
<meta property="og:email" content="<%- @ogEmail %>">
<% end %>

<% if @fbAppId : %>
<meta property="fb:app_id" content="<%- @fbAppId %>" />
<% end %>
<% if @twitterCard : %>
<meta name="twitter:card" value="<%- @twitterCard %>"/>
<% end %>
<% if @twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @twitterSiteId %>"/>
<% end %>

<% end %>

<% block 'main' : %>
<main class="gulp-template main">

<section class="gulp-template__section">
  <h2>SVG</h2>
<svg class="sprite-svg"><use xlink:href="#svg-dena" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-nikkei" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-starbucks" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-arrow-left-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-arrow-left-thick" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-arrow-right-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-arrow-right-thick" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-camera-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-chevron-left-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-chevron-left" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-chevron-right-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-chevron-right" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-credit-card" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-download" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-edit" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-home-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-home" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-lock-closed-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-menu" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-message" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-messages" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-pencil" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-phone-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-plane-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-plus" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-smoke_free" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-smoking_rooms" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-tags" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-tick" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-trash" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-user-outline" /></svg>
<svg class="sprite-svg"><use xlink:href="#svg-user" /></svg>
</section>

</main>
<% end %>

<% block 'script' : %>
<!-- build:js js/app.js -->
<script src="/js/app_list.js"></script>
<!-- endbuild -->
<% end %>