<% extend '_layout.ect' %>

<% block 'meta' : %>
<meta charset="UTF-8">
<title><%- @title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="<%- @description %>" />
<meta name="keywords" content="<%- @keywords %>" />
<% if @canonical : %>
<link rel="canonical" href="<%- @canonical %>">
<% end %>
<% if @alternate : %>
<link rel="alternate" href="<%- @alternate %>" >
<% end %>

<% if @ogTitle : %>
<meta property="og:title" content="<%- @ogTitle %>">
<% end %>
<% if @ogType : %>
<meta property="og:type" content="<%- @ogType %>">
<% end %>
<% if @ogDescription : %>
<meta property="og:description" content="<%- @ogDescription %>">
<% end %>
<% if @ogUrl : %>
<meta property="og:url" content="<%- @ogUrl %>">
<% end %>
<% if @ogImage : %>
<meta property="og:image" content="<%- @ogImage %>">
<% end %>
<% if @ogSiteName : %>
<meta property="og:site_name" content="<%- @ogSiteName %>">
<% end %>
<% if @ogEmail : %>
<meta property="og:email" content="<%- @ogEmail %>">
<% end %>

<% if @fbAppId : %>
<meta property="fb:app_id" content="<%- @fbAppId %>" />
<% end %>
<% if @twitterCard : %>
<meta name="twitter:card" value="<%- @twitterCard %>"/>
<% end %>
<% if @twitterSiteId : %>
<meta name="twitter:site:id" value="<%- @twitterSiteId %>"/>
<% end %>

<% end %>

<% block 'main' : %>
<main class="gulp-template main">

<section class="gulp-template__section">
  <h2>Web Fonts</h2>
<div class="icon icon-arrow-left-outline"></div>
<div class="icon icon-arrow-left-thick"></div>
<div class="icon icon-arrow-right-outline"></div>
<div class="icon icon-arrow-right-thick"></div>
<div class="icon icon-camera-outline"></div>
<div class="icon icon-chevron-left-outline"></div>
<div class="icon icon-chevron-left"></div>
<div class="icon icon-chevron-right-outline"></div>
<div class="icon icon-chevron-right"></div>
<div class="icon icon-credit-card"></div>
<div class="icon icon-download"></div>
<div class="icon icon-edit"></div>
<div class="icon icon-home-outline"></div>
<div class="icon icon-home"></div>
<div class="icon icon-lock-closed-outline"></div>
<div class="icon icon-menu"></div>
<div class="icon icon-message"></div>
<div class="icon icon-messages"></div>
<div class="icon icon-pencil"></div>
<div class="icon icon-phone-outline"></div>
<div class="icon icon-plane-outline"></div>
<div class="icon icon-plus"></div>
<div class="icon icon-smoke_free"></div>
<div class="icon icon-smoking_rooms"></div>
<div class="icon icon-tags"></div>
<div class="icon icon-tick"></div>
<div class="icon icon-trash"></div>
<div class="icon icon-user-outline"></div>
<div class="icon icon-user"></div>
</section>

</main>
<% end %>

<% block 'script' : %>
<!-- build:js js/app.js -->
<script src="/js/app_list.js"></script>
<!-- endbuild -->
<% end %>