@font-face {
  font-family: "icon";
  src: url( "/fonts/icon.eot" );
  src: url( "/fonts/icon.eot?#iefix" ) format( "eot" ),
       url( "/fonts/icon.woff" ) format( "woff" ),
       url( "/fonts/icon.ttf" ) format( "truetype" ),
       url( "/fonts/icon.svg#icon" ) format( "svg" );
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-outline:before { content: "\EA01" }
.icon-arrow-left-thick:before { content: "\EA02" }
.icon-arrow-right-outline:before { content: "\EA03" }
.icon-arrow-right-thick:before { content: "\EA04" }
.icon-camera-outline:before { content: "\EA05" }
.icon-chevron-left-outline:before { content: "\EA06" }
.icon-chevron-left:before { content: "\EA07" }
.icon-chevron-right-outline:before { content: "\EA08" }
.icon-chevron-right:before { content: "\EA09" }
.icon-credit-card:before { content: "\EA0A" }
.icon-dena:before { content: "\EA0B" }
.icon-download:before { content: "\EA0C" }
.icon-edit:before { content: "\EA0D" }
.icon-home-outline:before { content: "\EA0E" }
.icon-home:before { content: "\EA0F" }
.icon-lock-closed-outline:before { content: "\EA10" }
.icon-logo_dena:before { content: "\EA11" }
.icon-menu:before { content: "\EA12" }
.icon-message:before { content: "\EA13" }
.icon-messages:before { content: "\EA14" }
.icon-nikkei:before { content: "\EA15" }
.icon-pencil:before { content: "\EA16" }
.icon-phone-outline:before { content: "\EA17" }
.icon-plane-outline:before { content: "\EA18" }
.icon-plane:before { content: "\EA19" }
.icon-plus:before { content: "\EA1A" }
.icon-smoke_free:before { content: "\EA1B" }
.icon-smoking_rooms:before { content: "\EA1C" }
.icon-starbucks:before { content: "\EA1D" }
.icon-tags:before { content: "\EA1E" }
.icon-tick:before { content: "\EA1F" }
.icon-trash:before { content: "\EA20" }
.icon-user-outline:before { content: "\EA21" }
.icon-user:before { content: "\EA22" }