.spinner
  display none
  width 50px
  height 50px
  background-color base_color

  border-radius 100%
  -webkit-animation sk-scaleout 1.0s infinite ease-in-out
  animation sk-scaleout 1.0s infinite ease-in-out
  position fixed
  top 50%
  left 50%
  // transform translateX(-50%) translateY(-50%)
  margin -25px 0 0 -25px
  z-index 101

  &.active
    display block

@keyframes sk-scaleout
  0%
    transform: scale(0)
  100%
    transform: scale(1.0)
    opacity: 0
