nav
  .nav-list
    li
      transition transform .3s
      float none
      line-height 45px
      background #f4f4f4

      sum = 0
      for num in (1..20)
        sum += 0.05
        &:nth-child({num})
          transition-delay sum s

      a
        border-left 3px solid transparent
        color #a07777

        &:hover
          border-left 3px solid base_color
          background #f7f7f7
          color base_color

      p
        margin 0
        padding 0 20px
        vertical-align middle
        border 1px solid #ddd
        background #f2f2f2
        box-shadow 1px 1px 2px rgba(0,0,0,0.2)

        &.type
          background linear-gradient(#ffffff 0%,#f6f6f6 47%,#ededed 100%)
          color base_color

        i
          vertical-align middle

      ul
        a, p
          padding-left 40px
          color #828282

        a
          color base_text_color

        ul
          a
            padding-left 50px
            font-size 0.8rem
            color base_text_color

        li
          float none
          border-bottom 1px solid #ddd
          line-height 45px

          sum = 0
          for num in (1..20)
            sum += 0.05
            &:nth-child({num})
              transition-delay sum s