.search-box
  position relative
  padding 15px
  background rgba(255,255,255,.5)
  border 1px solid #aaa
  box-shadow #aaa 0px 5px 10px

  .search-title
    margin-bottom 10px
    padding 3px 5px
    font-size .9rem
    font-weight normal

  .row
    margin-bottom 0

  .btn-floating
    position: absolute
    bottom: -18px
    left: 50%
    margin-left: -18.5px

  .noUi-horizontal
    position absolute
    width 90%
    top 2.5rem

  .col
    position relative

  textarea
    height 2.5rem

    &:last-child
      margin-bottom 10px

  .rate-container
    padding 5px 10px

  .search-text
    padding 8px 0

  .modal
    &__title
      margin-bottom 30px

  .icn-info
    font-size 1rem
    vertical-align bottom

  .icn-sigget
    position absolute
    top 20px
    right 15px

    i
      margin 0

  #sig
    font-size .9rem

  // Materialize override
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea
    height 1.5rem
    margin-bottom 10px

  .select-wrapper input.select-dropdown
    line-height 1.5rem

  .select-wrapper span.caret
    top 8px

  .dropdown-content li
    line-height auto
    min-height auto

  .dropdown-content li > a, .dropdown-content li > span
    line-height 18px
    padding 5px
    font-size .8rem

  label
    font-size .7rem

  .picker__frame
    width 325px

  .range-label span
    top 9px
    left 0

  .hotel-id-count
    float right
    font-size .8rem
    color #9e9e9e

  .room-info
    input
      text-align center

  .count-box
    position relative

  .btn-count
    position absolute
    top 2px
    padding 2px
    height auto
    line-height 1rem

    &.plus
      right 0
