/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$0_name = '0';
$0_x = 0px;
$0_y = 0px;
$0_offset_x = 0px;
$0_offset_y = 0px;
$0_width = 18px;
$0_height = 24px;
$0_total_width = 72px;
$0_total_height = 72px;
$0_image = '/img/sprite.png';
$0 = 0px 0px 0px 0px 18px 24px 72px 72px '/img/sprite.png' '0';
$1_name = '1';
$1_x = 18px;
$1_y = 0px;
$1_offset_x = -18px;
$1_offset_y = 0px;
$1_width = 18px;
$1_height = 24px;
$1_total_width = 72px;
$1_total_height = 72px;
$1_image = '/img/sprite.png';
$1 = 18px 0px -18px 0px 18px 24px 72px 72px '/img/sprite.png' '1';
$2_name = '2';
$2_x = 36px;
$2_y = 0px;
$2_offset_x = -36px;
$2_offset_y = 0px;
$2_width = 18px;
$2_height = 24px;
$2_total_width = 72px;
$2_total_height = 72px;
$2_image = '/img/sprite.png';
$2 = 36px 0px -36px 0px 18px 24px 72px 72px '/img/sprite.png' '2';
$3_name = '3';
$3_x = 0px;
$3_y = 24px;
$3_offset_x = 0px;
$3_offset_y = -24px;
$3_width = 18px;
$3_height = 24px;
$3_total_width = 72px;
$3_total_height = 72px;
$3_image = '/img/sprite.png';
$3 = 0px 24px 0px -24px 18px 24px 72px 72px '/img/sprite.png' '3';
$4_name = '4';
$4_x = 18px;
$4_y = 24px;
$4_offset_x = -18px;
$4_offset_y = -24px;
$4_width = 18px;
$4_height = 24px;
$4_total_width = 72px;
$4_total_height = 72px;
$4_image = '/img/sprite.png';
$4 = 18px 24px -18px -24px 18px 24px 72px 72px '/img/sprite.png' '4';
$5_name = '5';
$5_x = 36px;
$5_y = 24px;
$5_offset_x = -36px;
$5_offset_y = -24px;
$5_width = 18px;
$5_height = 24px;
$5_total_width = 72px;
$5_total_height = 72px;
$5_image = '/img/sprite.png';
$5 = 36px 24px -36px -24px 18px 24px 72px 72px '/img/sprite.png' '5';
$6_name = '6';
$6_x = 54px;
$6_y = 0px;
$6_offset_x = -54px;
$6_offset_y = 0px;
$6_width = 18px;
$6_height = 24px;
$6_total_width = 72px;
$6_total_height = 72px;
$6_image = '/img/sprite.png';
$6 = 54px 0px -54px 0px 18px 24px 72px 72px '/img/sprite.png' '6';
$7_name = '7';
$7_x = 54px;
$7_y = 24px;
$7_offset_x = -54px;
$7_offset_y = -24px;
$7_width = 18px;
$7_height = 24px;
$7_total_width = 72px;
$7_total_height = 72px;
$7_image = '/img/sprite.png';
$7 = 54px 24px -54px -24px 18px 24px 72px 72px '/img/sprite.png' '7';
$8_name = '8';
$8_x = 0px;
$8_y = 48px;
$8_offset_x = 0px;
$8_offset_y = -48px;
$8_width = 18px;
$8_height = 24px;
$8_total_width = 72px;
$8_total_height = 72px;
$8_image = '/img/sprite.png';
$8 = 0px 48px 0px -48px 18px 24px 72px 72px '/img/sprite.png' '8';
$9_name = '9';
$9_x = 18px;
$9_y = 48px;
$9_offset_x = -18px;
$9_offset_y = -48px;
$9_width = 18px;
$9_height = 24px;
$9_total_width = 72px;
$9_total_height = 72px;
$9_image = '/img/sprite.png';
$9 = 18px 48px -18px -48px 18px 24px 72px 72px '/img/sprite.png' '9';
$spritesheet_width = 72px;
$spritesheet_height = 72px;
$spritesheet_image = '/img/sprite.png';
$spritesheet_sprites = $0 $1 $2 $3 $4 $5 $6 $7 $8 $9;
$spritesheet = 72px 72px '/img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
