.totop
	position fixed
	bottom 65px
	right 40px
	width 55px
	height 55px
	text-align center
	transform translateY(160px)
	padding 5px
	cursor pointer
	transition transform .6s
	background rgba(0,0,0,.5)
	border-radius 50%
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	z-index 2

	svg
		width 40px
		height 40px
		fill #f7f7f7

	&.active
		transform translateY(0)

	&:hover
		box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
