@charset "utf-8"
@import "nib"
global-reset()

@import "_var"
@import "_icon"
@import "_sprite"
@import "_header"
@import "_menu"
@import "_footer"
@import "_background"
@import "_main"
@import "_search"
@import "_loader"
@import "_totop"
@import "_syntax"
@import "_tooltipster"
@import "_tooltipster_light"
@import "_svg"
@import "_lib/materialize-colorpicker"

body
  // font-family Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  font-family "Roboto", sans-serif
  background url(/img/bg.png) repeat 0 0

img
  vertical-align bottom

.gulp-template
	padding 20px
	&__section
		margin-bottom 20px

		h2
			margin-bottom 20px
			padding 5px
			border-bottom 1px solid #aaa
			font-size 30px

		.sprite
			display inline-block

		.icon
			&::before
				font-size inherit
				color inherit

		.sprite-svg
			width 100px
			height 100px
			fill #444

#content
	padding 10px 10px 400px