@charset "utf-8"

@import "_var"
@import "_icon"
@import "_sprite"
@import "_header"
@import "_menu"
@import "_footer"
@import "_background"
@import "_main"
@import "_loader"
@import "_totop"
@import "_tooltipster"
@import "_tooltipster_light"

body
  // font-family Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  font-family "Roboto", sans-serif
  color base_text_color
  background url(/img/bg.png) repeat 0 0

img
  vertical-align bottom

#content
	padding 60px 10px 400px

#item-list
	margin 0 20px

	h2
		margin 0
		padding 3px 10px 2px
		border-left 5px solid #444
		background #f9f9f6
		font-size 1.2rem

	.item
		margin-bottom 30px


// Materialize override
.select-wrapper input.select-dropdown,
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea
	height 2rem

.select-wrapper input.select-dropdown
	line-height 2rem

.dropdown-content li
	line-height auto
	min-height auto

.dropdown-content li > a, .dropdown-content li > span
	line-height 18px
	padding 5px
	font-size .8rem

label
	font-size .8rem

.select-wrapper span.caret
	top 10px

.row
	margin-bottom 0

th.remarks
	width 30%

th.control, td.control
	width 120px
	text-align center

td .btn
	padding 0 1rem

.btn-add
	position fixed
	bottom 60px
	left 50%
	margin-left -18px