<header class="header">
  <a href="/" class="brand-logo sprite sprite-logo"><img src="img/t.png" alt=""></a>
  <a class="menu js-menu-trigger" href="#" data-activates="slide-out"><svg><use xlink:href="#svg-menu"></svg></a>
</header>
