<div class="bg-overlay js-menu-overlay white"></div>
<nav id="slide-out" class="side-nav grey lighten-5">
  <ul class="nav-list">
    <li>
      <p class="type">EAN V3</p>
      <ul>
        <li><a href="hotels.html">Hotel List</a></li>
        <li><a href="avail.html">Room Availability</a></li>
        <li><a href="itin.html">Itinerary</a></li>
        <li><a href="info.html">Hotel Info</a></li>
        <li><a href="paytype.html">Payment Types</a></li>
        <li><a href="deal.html">Deals API</a></li>
      </ul>
    </li>
    <li>
      <p class="type">Administration</p>
      <ul>
        <li><a href="">Partners</a></li>
        <li><a href="">Keys</a></li>
        <li><a href="">Rate Type</a></li>
        <li><a href="">Region</a></li>
        <li><a href="admin/logout/">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
