<div id="modal-item-edit" class="modal">
    <div class="modal-content">
    </div>
	<div class="modal-footer">
	  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat js-item-update">Update</a>
	</div>
</div>

<div id="modal-item-delete" class="modal">
	<div class="modal-content">
		<p>Are you sure to delete?</p>
		</div>
		<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
	</div>
</div>
